@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    width: 80%;
  }
}